@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$selection: #87c9ff;

html,
body{
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    background-color: #fff;
}

a,
p,
ul,
li,
ol,
dl,
h1,
h2,
h3,
h4,
dt,
pre,
figure,
span{margin: 0; padding: 0;}

h1,
h2,
h3{font-family: 'Poppins', sans-serif;}

address, article, aside, div, footer, header, hgroup, layer, main, nav, section {
    display: block;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

section{
    position: relative;
    top: 100px;
    
    &:first-child{top: 0;}
}

::selection { background-color: $selection; }